<h1>Edit this book</h1>
{{#with book}}
<form action="/books/edit/{{_id}}" method="POST">
  <label for="title">Title: </label>
  <input type="text" name="title" id="title" value="{{title}}">
  <br>
  <label for="author">Author: </label>
  <input type="text" name="author" id="author" value="{{author}}">
  <br>
  <label for="description">Description: </label>
  <input type="text" name="description" id="description" value="{{description}}">
  <br>
  <label for="rating">Rating: </label>
  <input type="number" name="rating" id="rating" value="{{rating}}">
  <br>
  <label for="">Write your Notes : </label>
  <input type="text" name="comments">
  <br>

  <button type="submit">Update the book</button>
</form>
{{/with}}



<h2><p><a href="/books">Go back to your Library List</a></p></h2>
