{{#with bookDetails}}

<div class="container">
  <form id="contact">
    <h1>Book Name: {{title}}</h1>
    <p>Rating: {{rating}}</p>
    <p> {{description}}</p>

    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending"><a
          href="/books/edit/{{_id}}">Edit this book</a></button>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending"><a
          href="/books/delete/{{_id}}">Delete this book</a></button>
    </fieldset>
  </form>


</div>
{{/with}}

<h2 class="Library">
  <p><a href="/books">Go back to your Library List</a></p>
</h2>