{{!-- #with sets a context for an object -> i don't need to write bookDetails.title etc. --}}
{{#with bookDetails}}
<h1>{{title}}</h1>
    <p>Notes: {{description}}</p>
    <p>Rating: {{rating}}</p>
    <p><a href="/books/edit/{{_id}}">Edit this book</a></p>
    <p><a href="/books/delete/{{_id}}">Delete this book</a></p>
{{/with}}

{{!-- <h3>Written by: </h3>
{{#with bookDetails.author}}
    <p>{{name}} {{lastName}}</p>
    <p>Nationality: {{nationality}}</p>
    <img src="{{pictureUrl}}" height="200px">
{{/with}} --}}

{{!-- List the reviews --}}
<h2>what did you like of this Book</h2>
{{#if bookDetails.reviews}}
    {{#each bookDetails.reviews}}
    <div>
      <p>{{this.comments}}</p>
      <span>{{this.user}}</span>
    </div>
    {{/each}}
{{/if}}



<h2><p><a href="/books">Go back to your Library List</a></p></h2>